<div class="container mt-5">
  <h3 class="text-center">Os Livros Mais Vendidos nas Livrarias Leitura em todo Brasil</h3>
  <div class="row mt-4">
    <div class="col-md-3" *ngFor="let card of livros"> <!-- Atualizado para 'livros' -->
      <div class="card">
        <img [src]="card.imageUrl" class="card-img-top" alt="{{ card.title }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">R$ {{ card.price }}</p>
          <button class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
